/* FOR TABLETS */
@media (max-width: 1000px)
{
    /* HEADER RESPONSIVE */
    
    /* TOP RESPONSIVE */
    .background{
        height: 620px;
    }
    .top-wrapper p{
        font-size: 12px;
    }
    .btn{
        padding: 8px 8px;
    }
    /* CONTENT RESPONSIVE */
    .content >img{
        width: 105px;
        height: 105px;
    }
    .content-desc > h1{
        font-size: 15px;
    }
    .content-desc > p{
        font-size: 11px;
        font-weight: 400;
    }
    #web-dev{
        padding-left: 0px;
    }
    #machine-learning{
        padding-left: 20px;
        padding-right: 30px;
    }
    /* FOOTER RESPONSIVE */
    footer .container {
        display: flex;
        flex-direction: column;
    }

    .footer-links {
        justify-items: center;
    }

    .footer-logo {
        order: 99;
    }

    .social-links {
        order: 1;
        margin-top: 30px;
        justify-content: space-evenly;
    }
}

/* FOR HANDPHONE */
@media (max-width: 670px)
{
    /* HEADER RESPONSIVE */
    .nav-left-header{
        display: none;
    }
    .nav-right-header{
        display: none;
    }
    .bar-header{
        display: block;
    }
    /* TOP RESPONSIVE */
    .background{
        height: 750px;
    }
    .top-wrapper h1{
        font-size: 37px;
    }
    .top-wrapper p{
        font-size: 12px;
    }
    .btn-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .btn{
        width: 70%;
        margin:20px 0px;

    }

    /* CONTENT RESPONSIVE */
    .content-wrapper h1{
        font-size: 35px;
    }
    .content-container{
        display: flex;
        flex-direction: column;
    }
    .content{
        padding: 40px 0px;
    }
    .content h1{
        font-size:20px;
    }
    .content p{
        font-size:18px;
        font-weight: 300;
    }
    .content2-wrapper h1{
        font-size: 28px;
    }
    .content2-wrapper p{
        font-size: 14px;
        font-weight: 300;
    }
    /* FOOTER RESPONSIVE */
}

@media (max-width: 420px) 
{
   /* HEADER RESPONSIVE */
    .top-wrapper h1{
        font-size: 32px;
    }
    .top-wrapper p{
        font-size: 9px;
        line-height: 10px;
    }
    .btn{
        padding: 10px;
        font-weight: 300;
    }
    /* CONTENT RESPONSIVE */
    .content-wrapper h1{
        font-size: 30px;
    }
    .content h1{
        font-size: 18px;
    }
    .content p{
        font-size: 15px;
    }
    .content2-wrapper h1{
        font-size: 24px;
    }
    .content2-wrapper p{
        font-size: 15px;
    }
    
    /* FOOTER RESPONSIVE */
    .footer-links {
        grid-template-columns: 1fr;
    }
}
