/* DO NOT CHANGE THIS CODE! */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    width: 100%;
    
    position:fixed;
    top:0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    border-bottom: 2px solid black;
}

.container {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}
.nav-header > a{
    display: inline-block;
    padding: 12px 24px;
    line-height: 50px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    width: 110px;
}

.header-right {
    color: rgb(39, 44, 46);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

/* TOP CSS */
.top-wrapper {  
    width: 100%;
    text-align: center;
}

.background {
    background-image: url(Images/Background.jpeg);
    filter: brightness(30%);
    height: 100vh;
    background-size: cover;
}

.top-wrapper h1 {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 45px;
    padding-bottom: 10px;
}

.top-wrapper p {
    color: rgba(232, 231, 230);
    opacity: 1;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    margin: 5px 0px;
}

.top-container {
    position: absolute;
    top: 225px;
    width: 100%;
    text-align: center;
}

.slogan-verb {
    color: rgba(237, 181, 26);
}

.btn {
    margin: 40px 10px;
    padding: 12px 24px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    transition: 0.5s;
}

.btn:hover {
    opacity: 1;
}


.google {
    color: black;
    background-color: white;
}

.facebook {
    color: white;
    background-color: #3b5998;
}

.github {
    color: white;
    background-color: black;
}


.logo-btn {
    height: 20px;
    margin-right: 15px;
    position: relative;
    top:3px;
}

.fa {
    margin-right: 15px;
}

/* Footer section */
footer {
}
