/* DO NOT CHANGE THIS CODE! */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration:none;
}

li {
    list-style: none;
}

/* HEADER CSS */
header{
    background-color: black;
    width: 100%;
    
    position:fixed;
    top:0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    border-bottom: 2px solid black;
}
.logo-header{
    padding-left: 20px;
}
.logo-header img{
    width: 70px;
    height: 70px;
}

.transition-header{
    width: 70px;
    height: 70px;
    position: absolute;
    top:0px;
    left:20px;
    opacity:0;
}

.logo-header:hover .transition-header{
    opacity: 1;
}

.nav-header > a{
    display: inline-block;
    padding: 12px 24px;
    line-height: 50px;

    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.nav-left-header{
    position: absolute;
    left: 100px;
    padding-left: 20px;
}
.nav-right-header{
    position: absolute;
    right: 30px;
}
.nav-header > a:hover{
    border-bottom: 2px solid orange;
    color: white;
    font-weight: bold;
}
.bar-header{
    display: none;
    position: absolute;
    right: -425px;
}
.bar-header>img{
    width: 15%;
    height: 5%;
    cursor: pointer;
}
/* TOP CSS */
.top-wrapper {  
    width: 100%;
    text-align: center;
}

.background {
    background-image: url(Images/Background.jpeg);
    filter: brightness(30%);
    height: 650px;
    background-size: cover;

    animation-name: change-background;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes change-background{
    0%{
        background-image: url(Images/Background.jpeg);
    }
    35%{
        background-image: url(Images/background2.jpg);
    }
    70%{
        background-image: url(Images/background3.png);
    }
}

.top-wrapper h1 {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 45px;
    padding-bottom: 10px;
}

.top-wrapper p {
    color: rgba(232, 231, 230);
    opacity: 1;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    margin: 5px 0px;
}

.top-container {
    position: absolute;
    top: 225px;
    width: 100%;
    text-align: center;
}

.slogan-verb {
    color: rgba(237, 181, 26);
}

.btn {
    margin: 40px 10px;
    padding: 12px 24px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    transition: 0.5s;
}

.btn:hover {
    opacity: 1;
}


.google {
    color: black;
    background-color: white;
}

.facebook {
    color: white;
    background-color: #3b5998;
}

.github {
    color: white;
    background-color: black;
}


.logo-btn {
    height: 20px;
    margin-right: 15px;
    position: relative;
    top:3px;
}

.fa {
    margin-right: 15px;
}

/* CONTENT CSS*/
.content-background{
    background-image: url(Images/background4.png);
    background-repeat: no-repeat;
    background-size: cover;

    color:white;

}
.content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 90px;
}

.content-wrapper >h1{
    font-size: 40px;
    letter-spacing: 2px;
    
    border-bottom: 2px solid orange;
    margin-top: 50px;
    margin-bottom: 68px;
}

.content-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content>img{
    width: 125px;
    height: 125px;
}

.content-desc{
    text-align: center;
}

.content-desc > h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px 0px;
    font-weight: 700;
}

.content-desc > p{
    font-size: 12px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 18px;
}
#web-dev{
    padding-left: 35px;
}
#machine-learning{
    padding: 0px 90px;
}

.content2-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 100px;
    padding-bottom: 150px;
}

.content2-wrapper h1{
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content2-wrapper p{
    padding: 30px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.content2-wrapper input{
    width: 220px;
    height: 40px;
    background-color: rgb(78, 78, 78);
    color:whitesmoke;
    border: 0.5px solid white;
    margin-top: 50px;
}
.content2-wrapper input:hover{
    background-color: #dbdbdb;
    color:rgb(39, 39, 39);
    border: 0.5px solid rgb(78, 78, 78);
    transition: 0.7s ease;
}
/* FOOTER CSS */
footer {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

footer a, footer p {
    color: #5A6669;
}

footer .container {
    display: flex;
    width: 90%;
    margin: 60px auto 50px;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    width: 124px;
}

.footer-logo p {
    font-size: 14px;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em 4em;
    align-items: center;
}

.footer-links a:hover {
  border-bottom: 2px solid #000;
  color: black;
}

.social-links {
    display: flex;
}

.social-links svg {
    width: 48px;
}

.social-links svg:hover {
  transform: scale(1.2);
  transition: 300ms linear;
}

.twitter-icon:hover {
  fill: #1ea1f1;
}

.youtube-icon:hover {
  fill: #f00;
}

.facebook-icon:hover {
  fill: #1278f3;
}

.linkedin-icon:hover {
  fill: #0173b2;
}

.instagram-icon:hover {
  fill: #E1306C;
}